---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1a90b2e9387c9305b1c622460581a659"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzk1OTg3NDNiMmY5NDhkNmFlMWZiMTg1MDg2YWNiM2EiLCJ1c2VyX2lkIjoyMzQ1MTUwLCJuYW1lIjoiS3VydCBUaG9tYXMifQ.KzIUuofGhlNR9ApWCrUDrNj3ZHuIhKQvD_YHBdcscJY","user":{"id":2345150,"email":"kurt.thomas34@gmail.com","created_at":"2016-06-21T15:44:42.106-07:00","updated_at":"2017-02-07T10:04:02.007-08:00","facebook_id":null,"first_name":"Kurt","last_name":"Thomas","role":"user","stripe_customer_id":"cus_8gKGlmVjWBbRys","twitter_handle":"kthomz34","skype_handle":null,"github_handle":"kthomz34","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"image.jpg","photo_content_type":"image/jpeg","photo_file_size":950803,"photo_updated_at":"2016-07-05T10:27:23.247-07:00","send_new_message_emails":true,"referred_by_id":null,"slug":"kurt-thomas","os":"Windows","last_seen_at":"2017-02-07T10:04:01.938-08:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5014,"phone_num":"(781)
        718-4068","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"Agrund","birthdate":"1990-07-13","gender":"Male","first_visit_id":null,"codewars_handle":"kurt.thomas34"}}'
  recorded_at: Tue, 07 Feb 2017 19:10:23 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzk1OTg3NDNiMmY5NDhkNmFlMWZiMTg1MDg2YWNiM2EiLCJ1c2VyX2lkIjoyMzQ1MTUwLCJuYW1lIjoiS3VydCBUaG9tYXMifQ.KzIUuofGhlNR9ApWCrUDrNj3ZHuIhKQvD_YHBdcscJY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1b6c5b231dcf1f73eb64072527cef80d"'
    body:
      encoding: UTF-8
      string: '{"id":2345150,"slug":"kurt-thomas","name":"Kurt Thomas","email":"kurt.thomas34@gmail.com","title":null,"first_name":"Kurt","last_name":"Thomas","facebook_id":null,"url":"/users/kurt-thomas","bio":null,"course":{"id":50,"name":"Part-Time
        Web Developer Track","length":54,"kind":"part_time_web_dev_track","appointments_per_week":1},"current_enrollment":{"id":19590,"created_at":"2016-11-26T08:41:20.975Z","updated_at":"2017-02-06T20:18:01.896Z","cohort_id":null,"status":"active","mentor_id":623967,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2016-11-26T08:41:20.958Z","roadmap_id":37,"course_end_date":"2017-05-15T07:00:00.000Z","course_start_date":"2016-07-04T07:00:00.000Z","death_date":null,"sent_get_started_email":false,"course_id":50,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":5014,"roadmap_ref":"11af8519-6246-45f5-87b7-6607f82fd92e|0","visit_id":"953929d3-5912-43d1-90fc-81bc9de878f5"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2345150/image.jpg?1467739643","large_image_src":"https://cdn-photos.bloc.io/large/2345150/image.jpg?1467739643","created_at":"2016-06-21
        22:44:42 UTC","facebook_profile_picture_url":"http://graph.facebook.com//picture?width=110\u0026height=110","github_handle":"kthomz34","codecademy_handle":"Agrund","student":true,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Tue, 07 Feb 2017 19:10:23 GMT
recorded_with: VCR 3.0.3
