---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c626d09c4a1b83f4c4f85eeb1bc607aa"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzk1OTg3NDNiMmY5NDhkNmFlMWZiMTg1MDg2YWNiM2EiLCJ1c2VyX2lkIjoyMzQ1MTUwLCJuYW1lIjoiS3VydCBUaG9tYXMifQ.KzIUuofGhlNR9ApWCrUDrNj3ZHuIhKQvD_YHBdcscJY","user":{"id":2345150,"email":"kurt.thomas34@gmail.com","created_at":"2016-06-21T15:44:42.106-07:00","updated_at":"2017-02-07T12:18:47.584-08:00","facebook_id":null,"first_name":"Kurt","last_name":"Thomas","role":"user","stripe_customer_id":"cus_8gKGlmVjWBbRys","twitter_handle":"kthomz34","skype_handle":null,"github_handle":"kthomz34","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"image.jpg","photo_content_type":"image/jpeg","photo_file_size":950803,"photo_updated_at":"2016-07-05T10:27:23.247-07:00","send_new_message_emails":true,"referred_by_id":null,"slug":"kurt-thomas","os":"Windows","last_seen_at":"2017-02-07T12:16:21.277-08:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5014,"phone_num":"(781)
        718-4068","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"Agrund","birthdate":"1990-07-13","gender":"Male","first_visit_id":null,"codewars_handle":"kurt.thomas34"}}'
  recorded_at: Tue, 07 Feb 2017 20:21:30 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/message_threads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzk1OTg3NDNiMmY5NDhkNmFlMWZiMTg1MDg2YWNiM2EiLCJ1c2VyX2lkIjoyMzQ1MTUwLCJuYW1lIjoiS3VydCBUaG9tYXMifQ.KzIUuofGhlNR9ApWCrUDrNj3ZHuIhKQvD_YHBdcscJY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b5df0658c978461bfbd57706b50a3f23"'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":242634,"token":"4e5e260d-f14e-4e53-ac47-59135dfe0c8e","subject":"Part-Time
        Foundation: Backend Web Development 21 - Programming Reinforcement: Checkpoint
        3 discussion","updated_at":"2016-12-22T23:16:45.958Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/<MENTOR_ID>/unnamed.jpg?1422145878","preview":"complete
        3 exercises for this program","first_name":"Brittany","last_name":"Martin","page":null},{"id":247342,"token":"b64a4a9f-c6cf-4050-a0b7-846557bd09bb","subject":"On
        a Plane Next Thursday","updated_at":"2016-12-05T17:20:34.138Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/<MENTOR_ID>/unnamed.jpg?1422145878","preview":"Exactly!
        I''ll send you a calendar invitation now.","first_name":"Brittany","last_name":"Martin","page":null},{"id":245372,"token":"d81c9a5b-8d08-4615-be64-ff9c4f203e39","subject":"New
        Bloc Appointments -- Please Check!","u[...]
